header.header
    .big-container.header__row
        .header__logo.logo
            span 
            |Resort
        .header__mobile-block.js-block.js-block-inactive(data-block="header-nav")
            include blocks/nav.pug
            a.header__call(href="#") Обратный звонок
        .header__column-phone
            a.header__phone(href="tel:") +7 861
                span!=" 243-45-56"
                svg(width="32" height="32")
                    use(xlink:href="#icon-tel")
            .header__address Геленджик, ул. Тоцкого, 123
        button.hamburger.header__hamburger.js-btn(type="button" data-block="header-nav")
            span.hamburger__bar.hamburger__bar--bar1
            span.hamburger__bar.hamburger__bar--bar2
            span.hamburger__bar.hamburger__bar--bar3
            span.hamburger__bar.hamburger__bar--bar4
