header.header
    .container.header__row
        .header__logo.logo
            span ABS.
            |FENCE MASTER
        .header__mobile-block.js-block.js-block-inactive(data-block="header-nav")
            include blocks/nav.pug
            .header__column-phone
                span Call now:
                a.header__phone(href="tel:+19168237859") +1 916 8237859
                a.header__phone(href="tel:+19164954072") +1 916 4954072
            a.header__link(href="#") Estimate
        button.hamburger.header__hamburger.js-btn(type="button" data-block="header-nav")
            span.hamburger__bar.hamburger__bar--bar1
            span.hamburger__bar.hamburger__bar--bar2
            span.hamburger__bar.hamburger__bar--bar3
            span.hamburger__bar.hamburger__bar--bar4
