.h1 {
    margin: 0;
    margin-bottom: 28px;
    @include font-r(52px,350,1,0,#244F68);
}

@media(max-width:1024px) {
    .h1 {
        font-size: 45px;
    }
}

@media(max-width:768px) {
    .h1 {
        font-size: 35px;
    }
}
