.header {
    position: relative;
    background-color: $white;
}

.header__row {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.header__logo {
    @include hover();

    @include font-r(16px,500,1,normal,$black);

    & span {
        margin-right: 8px;
        padding: 0 8px;
        color: $red;
        font-weight: 600;
        font-size: 24px;

        border: 1px solid $red;
    }
}

.header__mobile-block {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.header__link {
    flex: 0 0 167px;
    @include hover();

    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 55px;

    @include font-p(16px,500,1,normal,$white);

    background-color: $green;
    border-radius: 12px;
}

.header__nav {
    flex: 1 0 auto;
    margin: 0 auto;
}

.header__column-phone {
    flex: 0 0 auto;
    margin-left: 42px;
    margin-right: 36px;

    @include font-p(14px, 500, 1, 0, $black);
    text-align: right;
    
    & span {
        margin-right: 10px;
    }

    & a {
        @include hover();

        color: $black;
    }
    
    & a + a {
        display: block;
        margin-top: 10px;
    }
}

.header__hamburger {
    display: none;
}

@media (max-width: 1400px) {
    .header__row {
        padding: 24px 15px;
    }
}

@media (max-width: 1024px) {
    .header__nav {
        flex: none;
        margin: 0;

        margin-bottom: 72px;
    }

    .header__link {
        flex: none;
        margin-bottom: 51px;
    }

    .header__hamburger {
        display: block;
        flex: 0 0 28px;
        @include hover();
    }

    .header__mobile-block {
        flex-direction: column;
        align-items: stretch;
        background-color: #fff;
        padding: 76px 30px 30px 30px;
    }

    .header__logo {
        margin-right: auto;

        font-size: 11px;

        & span {
            padding: 0 6px;

            font-size: 17px;
        }
    }

    .header__column-phone {
        flex: none;
        margin-right: 19px;

        order: 2;

        text-align: left;
    }

    .header__row {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

@media (max-width: 576px) {
    .header__logo {
        flex: 0 0 auto;
    }

    .header__column-phone {
        margin-left: 0;
        margin-right: 9px;

        & span {
            display: block;
            margin-bottom: 14px;
        }

        & a + a {
            margin-top: 14px;
        }
    }
}
