.social-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 122px;
}

.social-block__list {
    justify-content: center;

    & li {
        margin: 0 5px;
    }
}

.social-block__caption {
    margin-right: 28px;
    @include font-p(20px,300,1.4,0,#242424);
}

@media screen and (max-width:576px) {
    .social-block {
        flex-direction: column;
    }

    .social-block__caption {
        margin-right: 0;
        margin-bottom: 22px;
    }
}