// Vendor
@import "vendor/swiper.scss";
@import "vendor/magnific-popup.scss";

// Global
@import "variables.scss";
@import "normalize.scss";
@import "font.scss";
@import "global.scss";
@import "mixin.scss";

// Blocks
@import "blocks/container.scss";
@import "blocks/logo.scss";
@import "blocks/button.scss";
@import "blocks/input.scss";
@import "blocks/h1.scss";
@import "blocks/h2.scss";
@import "blocks/h3.scss";
@import "blocks/h4.scss";
@import "blocks/js-block.scss";

@import "blocks/hamburger.scss";

@import "blocks/header.scss";
@import "blocks/nav.scss";

@import "blocks/footer.scss";

@import "blocks/breadcrumbs.scss";



