$rubik: "Rubik", "Arial", sans-serif;
$poppins: "Poppins", "Arial", sans-serif;

$black: #0B2E29;

$white: #ffffff;


$transition: all 0.3s ease-in;

$border: 1px solid #D9EAFA;

$mobile-width: 550px;

$tablet-width: 900px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #1c3b73;

$grey: #555B73;
$grey-2: #2c363b;

$red: #EE3147;

$gutter: 28px;

$green: #69B99D;