-
    var list = [
        {name:"Fences"},
        {name:"Price",},
        {name:"Gallery"},
        {name:"Testimonials"},
    ]

nav.nav.header__nav
    ul.nav__list
        each item in list
            li.nav__item.active
                a.nav__link(href="#")=item.name
