ul.result
    - for (var i=0;i<3;i++)
        li.result__item
            .result__caption ООО «XXXXXXXXX»
            .result__row
                .result__column-address
                    p.result__address ул. Полковая, д. 3, стр. 8 127018 Москва Россия
                .result__contact
                    span
                        |Тел:
                        a(href="tel:+74952233565") +7 495 223 35 65
                    span
                        |E-mail:
                        a(href="mailto:info@xxxx.ru") info@xxxx.ru
                    span
                        |Web:
                        a(href="www.xxxxxxx.ru") www.xxxxxxx.ru
            a.result__link(href="#") > Показать на карте
