.text-block 
    .container.text-block__container
        p.text-block__text
            |This type of fencing, made of high-strength materials using advanced technological lines, lasts for decades and requires virtually no maintenance.
            |Metal board fences are three times stronger than their wooden counterparts, thanks to the large number of stiffening ribs that improve material characteristics.
            |Unlike wooden fences, metal board fences do not require regular painting or special care.
            |With a protective coating that prevents corrosion in all weather conditions, metal board fencing will retain its attractive appearance for many years.
        img.text-block__img(src="img/Mask group.png")