-
    var arr = [
        {dt:"Площадь дома:",dd:"250 м2"},
        {dt:"Площадь участка:",dd:"10 соток"},
        {dt:"Число спален / гостей:",dd:"5 спален, место в зоне гостиной на 1 этаже, диван на 2 спальных места."},
        {dt:"Описание общих зон:",dd:"<p>1 этаж – кухня-столовая полностью меблированная <span>(посудомойка, холодильник, плита на 4 комфорки, свч, кофемашина, посуда)</span>, техническая зона со стиральной машиной и местом для сушки белья, гардеробная, санузел общий, 2 спальни, выход на террасу</p><p>2 этаж – 2 спальни с санузлом и душевой, 1 спальня с раздельными кроватями, общий на 2 этаж санузел и душевая, в одной спальне выход на террасу</p>"},
        {dt:"Бассейн:",dd:"5*10 м"},
        {dt:"Гараж / парковка:",dd:"На территории дома вмещается 3 автомобиля"},
        {dt:"Расстояние до пляжа:",dd:"10 минут на машине"},
        {dt:"Время заезда и выезда:",dd:"Заезд 16:00, выезд 12:00"},
    ]

section.info
    .container
        h2.visually-hidden info
        dl.info__list
            each item in arr
                dt=item.dt
                dd!=item.dd
        .info__cash
            strong
        .info__cash от 
            strong 22 000 руб.
            |/сутки
